[flake8]
# Максимальная длина строки
max-line-length = 88
# Исключения и файлы, которые необходимо проигнорировать
exclude =
    .git,
    __pycache__,
    migrations,
    .venv,
    .eggs,
    *.egg,
    *.pyc,
    *.pyo,
    .pytest_cache,
    .vscode,
    .mypy_cache,
    .mypy_cache,
    .vscode,
    .vscode-test,
    .ropeproject
    ./services/config.py
